{% extends 'root.html' %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{{ object.img.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.des }}</p>
            <p class="card-text">{{ object.date }}</p>
            <p class="card-text">{{ object.max_human }}</p>
            <p class="card-text">{{ object.price }}</p>
            <p class="card-text">{{ object.address }}</p>

        </div>
    </div>


    <form class="mt-3" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required><span class="ms-2">Примите условия и соглашения</span>
        <button type="submit" class="btn btn-success mt-2">OK</button>
    </form>
{% endblock %}

